* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  html {
    scroll-behavior: smooth;
    // scroll-margin-top: 20px;
    scroll-padding-top: 60px;
  }
  .navbar {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
    // background: rgb(0, 200, 255);
    // background: white;
    z-index: 9999;
  
    height: 60px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .navbar a {
    color: #200589;
    font-weight: 600;
    padding: 14px 30px;
    min-width: 150px;
    text-align: center;
    // font-family: 'Courier New', Courier, monospace;
  }
  #resume-button-1 {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    color: #200589;
    font-weight: 600;
    // font-family: 'Courier New', Courier, monospace;
  }
  .menu-btn {
    display: none;
  }
  .navbar a:hover ,.navbar a:hover #resume-button-1 , .navbar a.link-active {
    background-image: linear-gradient(-45deg,blue,#200589);
    background-image: linear-gradient(-45deg, rgb(5, 5, 168), #200589);
    // background-image: linear-gradient(-45deg,rgb(109, 109, 109),rgb(0, 0, 0));
    background-size: 200%;
    font-size: 20px;
    border-radius: 100px;
    color: white;
    // padding: 1px;
  }
  .navbar h1 {
    color: white;
    font-weight: 600;
    margin: 0 20px;
    font-family: cursive;
    // color: rgb(24, 23, 23);
    font-family: 'Pacifico', cursive;
    // background-image: linear-gradient(-45deg, rgb(109, 109, 109), rgb(255, 0, 0));
    background-size: 150%;
    padding: 0 20px;
    border-radius: 10px 20px 30px 50px;
  }
  
  .links {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 20px;
    gap: 10px;
  }
  
  .home-img {
    /* height: 200px; */
  }
  #about,
  #contact,
  #home,
  #skills,
  #projects {
    /*  */
    padding-top: 60px;
    // scroll-padding-top: 20px;
  }
  
  .react-img {
    width: 400px;
  }
  
  // about
  #home .backk{
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  #about {
    background-size: 200%;
  
    background-color: #200589;
    padding: 30px 0px;
    color: white;
    margin: 30px;
    border-radius: 16px;
    .about_img {
      width: 400px;
      margin-bottom: 30px;
    }
    .about_card {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      height: 300px;
    }
    h1 {
      color: white;
      text-align: center;
    }
    p {
      width: 80%;
      color: rgb(255, 255, 255);
      font-family: Raleway, sans-serif;
      font-size: 25px;
      line-height: 40px;
      // background: #cc0a0a;
      padding: 30px;
      border-radius: 8px;
      height: 250px;
      text-align: justify;
      display: flex;
      align-items: center;
    }
  }
  
  //  skills and tools
  
  #skills {
    text-align: center;
    padding: 30px;
  
    .skills_deta {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-columns: repeat(auto-fit, 200px);
      margin: auto;
      max-width: 65%;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    h1 {
      margin-bottom: 20px;
    }
  
    .skills-card {
      width: 100%;
      text-align: center;
      color: black;
      background-color: rgb(74, 113, 244);
      background-image: linear-gradient(-45deg, #200589, #200589);
      background-size: 200%;
      border-radius: 16px;
      padding: 10px;
      font-size: 25px;
      font-weight: 600;
      filter: drop-shadow(4px 4px 1px rgb(0, 29, 126));
  
      color: white;
      svg {
        font-size: 150px;
        filter: drop-shadow(2px 4px 6px black);
      }
      p {
        filter: drop-shadow(4px 4px 1px rgb(0, 29, 126));
      }
    }
    .skills-card-img {
      width: 100%;
      // height: 200px;
    }
  }
  
  #projects {
    // #1c1917
    padding: 30px;
  
    h1 {
      text-align: center;
    }
  
    .all_projects {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      text-align: center;
      .project-card {
        background-size: 200%;
        color: rgb(255, 255, 255);
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        gap: 20px;
        margin: 30px 0;
        justify-content: space-evenly;
        button {
          color: rgb(255, 255, 255);
          background-color: rgb(32, 30, 30);
          border-radius: 4px;
          padding: 10px 17px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          border: none;
          margin: 5px;
          background-image: linear-gradient(
            -45deg,
            rgb(13, 13, 13),
            rgb(44, 42, 42)
          );
          background-size: 200%;
          width: 156px;
          background-image: linear-gradient(
            -45deg,
            rgb(255, 255, 255),
            rgb(253, 253, 253)
          );
          background-image: linear-gradient(-45deg, rgb(155 155 155), #ffffff);
          color: #183282;
          // background-size: 200%;
          // filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
        }
      }
    }
    .pro-Info {
      padding: 30px;
      border-radius: 20px;
      color: #ffffff;
      background: #200589;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .pro-img1 img {
      max-height: 400px;
    }
    .pro-img {
    }
  
    .pro-img img {
      max-height: 400px;
    }
  
    .project-tech-stack {
      display: flex;
      justify-content: center;
  
      .skills-card {
        width: max-content;
        text-align: center;
        background-color: rgb(27, 27, 27);
        background-image: linear-gradient(
          -45deg,
          rgb(26, 26, 27),
          rgb(81, 81, 81)
        );
        background-image: linear-gradient(
          -45deg,
          rgb(13, 13, 13),
          rgb(44, 42, 42)
        );
        background-image: linear-gradient(-45deg, rgb(5, 5, 168), skyblue);
        background-size: 200%;
        background-size: 200%;
        border-radius: 4px;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        margin: 5px;
        filter: drop-shadow(4px 4px 1px rgb(0, 29, 126));
  
        color: white;
  
        background-image: linear-gradient(-45deg, rgb(155 155 155), #ffffff);
        color: #183282;
        svg {
          font-size: 80px;
          // filter: drop-shadow(2px 4px 6px black);
        }
      }
    }
    .project-tech-stack img {
      height: 100px;
      width: 200px;
    }
  }
  .gitcont {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  #gt_btn:hover, #dep_btn:hover{
    transform: scale(1.1);
  }

  #contact {
    // background-image: linear-gradient(-45deg, rgb(26, 26, 27), rgb(81, 81, 81));
    background-image: linear-gradient(-45deg, rgb(5, 5, 168), #200589);
    background-size: 200%;
    .contact_details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      gap: 10px;
      padding: 30px;
  
      a {
        color: white;
      }
  
      .my_icon {
        display: flex;
        gap: 20px;
  
        svg {
          font-size: 30px;
          filter: drop-shadow(2px 4px 6px black);
        }
      }
    }
  }
  
  #home {
    // background-color: rgb(239, 78, 9);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    height: 100vh;
    background: linear-gradient(-7deg, #200589 23%, transparent 4%);
  
    .home-img {
      height: 413px;
      width: 413px;
      object-fit: contain;
      border-radius: 50%;
      // border: 2px solid #5079cf;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  
    button {
      padding: 20px 50px;
      margin-top: 30px;
      border-radius: 8px;
      border: none;
      background-image: linear-gradient(-45deg, rgb(5, 5, 168), #200589);
      color: white;
      background-size: 200%;
      font-size: 20px;
    }
    button:hover {
      transform: scale(1.1);
      cursor: pointer;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .my-info {
      // background-image: linear-gradient(-45deg, rgb(252, 252, 252), rgb(81, 81, 81));
      padding: 20px 30px;
      text-align: center;
      border-radius: 8px;
      h1,
      h2 {
        color: #5079cf;
        color: rgb(53, 52, 52);
  
      }
    }
  }
  
  .img_div {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    gap: 20px;
  
    img {
      height: 195px;
    }
  }
  .hh {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 16px;
  }
  
  //  responsive
  @media only screen and (max-width: 600px) {
    .navbar {
      // background-color: red;
      // display: none;
  
      .links {
        background-color: white;
        position: fixed;
        height: 100vh;
        top: 0;
        padding-top: 80px;
        flex-direction: column;
        width: 50%;
        font-size: 20px;
        gap: 20px;
        right: 0px;
        transition: right 1s;
      }
      .menu-btn {
        display: block;
        position: fixed;
        right: 20px;
        z-index: 9999;
        background: none;
        border: none;
        font-size: 40px;
        top: 10px;
        color: rgb(16, 16, 16);
      }
      #open {
        right: 0px;
      }
      #close {
        right: -100%;
      }
      #resume-button-1 {
        // font-weight: bold;
        font-size: 20px;
        color: white;
        color: rgb(24, 23, 23);
      }
    }
  
    #home {
      // display: none;
      font-size: 20px;
      height: 100vh;
      flex-direction: column-reverse;
      font-size: 20px;
      justify-content: center;
      .home-img {
        width: 300px;
        height: 300px;
  
      }
    }
  
    #projects {
      padding: 20px;
      // display: none;
      .all_projects{
        .project-card{
          flex-direction: column;
          // display: grid;
          // grid-template-columns: 45% 45%;
          .pro-img img{
            max-height: none;
            max-width: 100%;
            height: 200px;
            object-fit: contain;
          }
          .pro-img1 img{
            max-width: 100%;
            height: 200px;
            object-fit: contain;
            
  
          }
        }
      }
    }
    #about {
      width: calc(100% - 40px);
      margin: 20px;
      
      .about_img {
        width: 200px;
        margin-bottom: 30px;
      }
      .about_card {
        flex-direction: column;
        padding: 10px;
        border-radius: 16px;
        text-align: center;
        width: 100%;
      }
  
      p {
        width: 100%;
        color: white;
        font-family: Raleway, sans-serif;
        text-align: left;
        font-size: 16px;
        line-height: auto;
        padding: 20px;
      }
    }
  
    #contact {
      // display: none;
    }
  
    #skills {
      padding: 10px;
  
      .skills_deta {
        grid-template-columns: repeat(auto-fit, 160px);
      }
      .skills-card{
        svg{
          font-size: 100px;
        }
      } 
    }
    .gitcont {
      // display: none;
      padding: 20px;
      .hh{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px;
      }
      .img_div{
        flex-direction: column;
        padding: 0;
        gap: 10px;
        img{
          width: 100%;
          height: auto;
        }
      
      }
    }
  }

  @media only screen  and (max-width: 960px) {
 
    #projects {
      // padding: 20px;
      // display: none;
      .all_projects{
        .project-card{
          flex-direction: column;
        
          .pro-img img{
            // max-height: none;
            // max-width: 100%;
            // height: 200px;
            // object-fit: contain;
          }
          .pro-img1 img{
            // max-width: 100%;
            // height: 200px;
            // object-fit: contain;
            
  
          }
        }
      }
    }
  
    .gitcont {
      // display: none;
      padding: 10px;
      .hh{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px;
      }
      .img_div{
        flex-direction: column;
        padding: 0;
        gap: 10px;
        img{
          width: 100%;
          height: auto;
        }
      
      }
    }
  
  }